config radio 'radio'
        option eui ''
        option region 'US915'
        option channel_plan 'us915_1'
        option enabled '0'
        option platform 'chirpstack'
        option server 'localhost:1700'

config log 'ui'
        option auto_refresh '1'
        option buffer_limit '2000'
        list watch_keywords 'error'
