config network
	option net_id '000000'
	list enabled_regions 'as923'
	list enabled_regions 'as923_2'
	list enabled_regions 'as923_3'
	list enabled_regions 'as923_4'
	list enabled_regions 'au915_0'
	list enabled_regions 'au915_1'
	list enabled_regions 'au915_2'
	list enabled_regions 'au915_3'
	list enabled_regions 'au915_4'
	list enabled_regions 'au915_5'
	list enabled_regions 'au915_6'
	list enabled_regions 'au915_7'
	list enabled_regions 'cn470_0'
	list enabled_regions 'cn470_1'
	list enabled_regions 'cn470_10'
	list enabled_regions 'cn470_11'
	list enabled_regions 'cn470_2'
	list enabled_regions 'cn470_3'
	list enabled_regions 'cn470_4'
	list enabled_regions 'cn470_5'
	list enabled_regions 'cn470_6'
	list enabled_regions 'cn470_7'
	list enabled_regions 'cn470_8'
	list enabled_regions 'cn470_9'
	list enabled_regions 'cn779'
	list enabled_regions 'eu433'
	list enabled_regions 'eu868'
	list enabled_regions 'in865'
	list enabled_regions 'ism2400'
	list enabled_regions 'kr920'
	list enabled_regions 'ru864'
	list enabled_regions 'us915_0'
	list enabled_regions 'us915_1'
	list enabled_regions 'us915_2'
	list enabled_regions 'us915_3'
	list enabled_regions 'us915_4'
	list enabled_regions 'us915_5'
	list enabled_regions 'us915_6'
	list enabled_regions 'us915_7'
