config radio 'radio'
        option eui ''
        option channel_plan 'us915_1'
        option enabled '0'
        option platform 'chirpstack'

config log 'ui'
        option auto_refresh '1'
        option buffer_limit '2000'
        list watch_keywords 'join'
        list watch_keywords 'error'
